.button.selected {
    background-color: #007bff;
    color: white;
}

.form-group{
    padding-top: 30px;
}

.table-container {
    max-height: 300px; /* Altura máxima que desees */
    overflow-y: auto; /* Hace que el contenido sea scrollable verticalmente */
    border: 1px solid #000000; /* Agrega un borde al contenedor */
}

table {
    padding-top: 40px;
    width: 100%; /* Hace que la tabla ocupe todo el ancho del contenedor */
    border-collapse: separate;
    border-spacing: 0; /* Elimina el espaciado entre las celdas */
}

th, td {
    padding: 8px; /* Añade espacio interno en las celdas según tu preferencia */
    border-radius: 0; /* Elimina el redondeo de las esquinas de las celdas */
    border: 1px solid #ccc; /* Agrega un borde a las celdas */
}

form {
    border: 1px solid #ccc; /* Borde del formulario */
    padding: 20px; /* Espaciado interno del formulario */
    border-radius: 10px; /* Borde redondeado */
}

.centrar-botones {
    display: flex;
    justify-content: center; /* Cambia "center" a "flex-end" para alinear a la derecha */
    align-items: center;
}

.centre-tittle{
    text-align: center;
}

 /* Estilo para el contenedor del formulario */
 .container {
    margin-top: 20px; /* Separación de la parte superior */
    padding: 20px; /* Espaciado interno del contenedor */
    border-radius: 10px; /* Borde redondeado */
    width: 100%; /* Ancho del contenedor */
    padding-bottom: 10px;
    display: flex;
}

.circular-button {
    width: 50px; /* Ancho del botón */
    height: 50px; /* Alto del botón, igual al ancho para formar un círculo */
    border-radius: 50%; /* Hace que el botón sea circular */
    border: none; /* Elimina el borde */
    background-color: beige; /* Color de fondo */
    color: white; /* Color del texto (si se necesita) */
    font-size: 24px; /* Tamaño del texto (si se necesita) */
    text-align: center; /* Alinea el texto al centro */
    line-height: 50px; /* Centra el texto verticalmente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Añade una transición al color de fondo */
}

.circular-button:hover {
    background-color: #ccc; /* Color de fondo al pasar el ratón por encima */
}

.circular-button:focus {
   outline: none; /* Elimina el contorno al enfocar */
   background-color: #d3d3d3;
}

.circular-button.selected {
    background-color: #979191; /* Color de fondo cuando está seleccionado */
}

.button-label {
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Alinear verticalmente los elementos */
    margin-bottom: 10px; /* Espacio entre las filas de botones */
}

/* Estilos para la ventana emergente */
.ventana-emergente {
    display: none; /* Inicialmente oculta la ventana emergente */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que la ventana emergente esté por encima de otros elementos */
    max-width: 500px;
}