.navbar {
    background-color: #1b212cff;
    color: #fff;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between; /* Distribuye los elementos a ambos lados */     
}

.navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.custom-link {
    font-weight: bold; /* Hace que el texto sea negrilla */
    font-size: 25px; /* Tamaño de fuente personalizado */
    color: #fff; /* Color del texto (blanco) */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    margin-left: -20px!important; /* Margen izquierdo entre el ícono y el enlace */
}

.navbar ul {
    list-style: none; /* Quita los puntos de lista predeterminados */
    display: flex; /* Convierte la lista en un contenedor flex */
    align-items: center; /* Centra verticalmente los elementos */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.navbar li {
    margin-right: 20px; /* Margen derecho entre elementos de la lista */
    margin-left: 20px; /* Margen izquierdo entre elementos de la lista */
    list-style: none; /* Quita los puntos de lista predeterminados */
}

.navbar a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff; /* Color del texto (blanco) */
    margin-left: 20px; /* Espacio entre elementos de la lista */
}

/* Estilo para el ícono */
.navbar img {
    margin-right: 10px; /* Margen derecho entre el ícono y el enlace */
}

.img-bar{
    border-radius: 50px;
    width: 5em;
    margin-left: 20px;
}

/* Estilos para el botón "Cerrar sesión" */
.logout-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #1b212cff; /* Color de fondo de la barra de navegación */
    border: 2px solid white; /* Contorno blanco */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 5px 15px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
    /* Otros estilos de tu elección */
}

.logout-button:hover {
    background-color: white; /* Cambia el color de fondo al pasar el mouse sobre el botón */
    color: #1b212cff; /* Cambia el color del texto al pasar el mouse sobre el botón */
}

