<!DOCTYPE html>
<html>
  <head>        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/styles.css" rel="stylesheet" /> 
    <title>About Us</title>
  </head>

  <body style="height: 100vh">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top: 80px">
        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="https://media.licdn.com/dms/image/D4E35AQEDyKfJWgrVsw/profile-framedphoto-shrink_800_800/0/1699376856036?e=1717977600&v=beta&t=ffqDef6oH9P6pRzsI8zegY7xsD-yrfQWQEtyRxI4vu8"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>John Edward Fajardo</h2>
          <p>johne.fajardol@uqvirtual.edu.co</p>
          <p>
            <a class="btn btn-secondary" href="https://www.linkedin.com/in/john-edward-fajardo-londo%C3%B1o-44883a295/" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Carlos Eduardo Gomez</h2>
          <p>
            Docente a cargo del Seminario de Grado 2023-2<br />carloseg@uniquindio.edu.co.
          </p>
          <p>
            <a class="btn btn-secondary" href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001343801" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="https://media.licdn.com/dms/image/D4E03AQH0u6jN9zS3mA/profile-displayphoto-shrink_800_800/0/1702566009983?e=1723075200&v=beta&t=kHzuyDDzN9cWq-PnrEjwUM7t-uWu5eRfE56MBTZWskI"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Jhoiner Stiven Lopez</h2>
          <p>jslopezd@uqvirtual.edu.co.</p>
          <p>
            <a class="btn btn-secondary" href="https://www.linkedin.com/in/jhostil/" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="https://media.licdn.com/dms/image/D4E03AQHcOGwY1ctzHg/profile-displayphoto-shrink_800_800/0/1702674177368?e=1723075200&v=beta&t=7aKeZu_GX7dNrzwhEID-REDXWlu5MsSX-QiyHsoolGE"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Joshua Alexander Osorio Puerta</h2>
          <p>
            Estudiante
            <br/>
            xdjoshuaalexanderxd@gmail.com
          </p>
          <p>
            <a class="btn btn-secondary" href="https://www.linkedin.com/in/joshuaosoriopuerta" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
                <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Pablo Lozano</h2>
          <p>
            Estudiante
            <br/>
            pabloa.lozanos@uqvirtual.edu.co
          </p>
          <p>
            <a class="btn btn-secondary" href="#" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="https://media.licdn.com/dms/image/D4D03AQF8tCDGm4CfHg/profile-displayphoto-shrink_800_800/0/1679171083361?e=1723075200&v=beta&t=tjKZxgXOkRZKcqFHRx08i68cjG8hU0lWwFza59dYBRU"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Luis Felipe Toro Valencia</h2>
          <p>
            Estudiante
            <br/>
            luisf.torov@uqvirtual.edu.co
          </p>
          <p>
            <a class="btn btn-secondary" href="https://www.linkedin.com/in/luis-felipe-toro-valencia-8abb54265/" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
      </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="https://media.licdn.com/dms/image/D4E35AQF7bJIZ-tPuow/profile-framedphoto-shrink_800_800/0/1684597016741?e=1717981200&v=beta&t=ipZZpDcIE4GRBX_qZHvv64ILDn0qCVxPaDJGYXx-7H0"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Miguel Angel Hernandez Torres</h2>
          <p>
            Estudiante
            <br/>
            miguela.hernandezt@uqvirtual.edu.co
          </p>
          <p>
            <a class="btn btn-secondary" href="https://www.linkedin.com/in/miguel-angel-hernandez-torres-414214221/" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </body>
</html>
