<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/styleNavbar.css" />
  </head>

  <body style="height: 100vh">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top: 80px">
        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="/static/images/aboutUs/Edward.jpg"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>John Edward Fajardo</h2>
          <p>johne.fajardol@uqvirtual.edu.co</p>
          <p>
            <a class="btn btn-secondary" href="#" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Carlos Eduardo Gomez</h2>
          <p>
            Docente a cargo del Seminario de Grado 2023-2<br />carloseg@uniquindio.edu.co.
          </p>
          <p>
            <a class="btn btn-secondary" href="#" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->

        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Jhoiner Stiven Lopez</h2>
          <p>jslopezd@uqvirtual.edu.co.</p>
          <p>
            <a class="btn btn-secondary" href="#" role="button"
              >Ver detalles »</a
            >
          </p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>
  </body>
</html>
