<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DesktopCloud - Inicio</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <style>
        .modal-centered {
            display: flex !important;
            align-items: center;
            justify-content: center;
            padding-top: 10%;
        }

        .modal-dialog {
            margin-top: 15vh;
        }

        .owl-carousel .item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 25px;
        }

        .owl-carousel .item .col-lg-4 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .owl-carousel .owl-nav {
            margin-top: 10px;
        }

        .owl-carousel .owl-nav button.owl-prev,
        .owl-carousel .owl-nav button.owl-next {
            background: transparent;
            border: none;
            font-size: 2rem;
            color: #000;
        }

        /**/
        .feature-card {
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 30px;
            margin: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: left;
            width: 600px;
            height: 350px;
            margin-top: 20px;
        }

        .feature-card .feature {
            margin-bottom: 15px;
        }

        .feature-card h2 {
            margin-bottom: 10px;
        }

        .feature-card p {
            margin-bottom: 15px;
        }

        .owl-carousel .item {
            display: flex;
            justify-content: left;
            align-items: center;
        }

        .owl-carousel .owl-nav {
            margin-top: 10px;
        }

        .owl-carousel .owl-nav button.owl-prev,
        .owl-carousel .owl-nav button.owl-next {
            background: transparent;
            border: none;
            font-size: 2rem;
            color: #000;
        }

        #características .text-center.mb-5 {
            margin-bottom: 5px;
            /* Separación entre el título y las cards */
        }

        .owl-carousel .feature-card {
            margin-top: 0px;
            /* Separación superior de las cards */
            margin-bottom: 10px;
            /* Separación inferior de las cards */
        }

        .owl-carousel .owl-nav {
            margin-bottom: 1px;
            /* Separación entre las flechas y la siguiente sección */
        }

        .owl-carousel .owl-dots {
        margin-bottom: 20px; /* Separación superior de los puntos */
        text-align: center; /* Centrar los puntos */
    }
    </style>
</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a href="/index">
                <img class="icon-image" style="width: 250px;" src="/static/images/Imagen3.png">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Iniciar sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-3">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <div style="margin-bottom: -20px; padding-bottom: 20px;">
                            <i class="bi bi-cloud text-primary" style="font-size: 3rem;"></i>
                        </div>
                        <h1 class="display-5 fw-bolder text-white mb-2">Desktop Cloud Uniquindío</h1>
                        <p class="lead text-white-50 mb-4">Explora el Desktop Cloud sin registro:<br> ¡comienza como
                            usuario invitado!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#Login">Iniciar sesión</a> -->
                            <a class="btn btn-outline-light btn-lg px-4" href="#Invitado">Entrar como invitado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Sección características-->
    <section class="py-5 border-bottom" id="características">
        <div class="text-center mb-5">
            <h3 class="fw-bolder" style="margin-bottom: 10px;">Carácteristicas Desktop Cloud</h3>
        </div>
        <div class="container px-5 my-5 position-relative">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="feature-card">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-pc-display"></i>
                        </div>
                        <h2 class="h4 fw-bolder">Máquinas virtuales de corta duración</h2>
                        <p>Estas máquinas se caracterizan por ser temporales.        
                        </p>
                        <a class="text-decoration-none" href="#!" data-bs-toggle="modal"
                            data-bs-target="#descriptionModal1">
                            Más información
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="feature-card">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-code-square"></i>
                        </div>
                        <h2 class="h4 fw-bolder">Máquinas virtuales CLI</h2>
                        <p>
                            Acceso y control a través de una interfaz de línea de comandos.
                        </p>
                        <a class="text-decoration-none" href="#!" data-bs-toggle="modal"
                            data-bs-target="#descriptionModal2">
                            Más información
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="feature-card">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-person-plus"></i>
                        </div>
                        <h2 class="h4 fw-bolder">Máquinas virtuales GUI</h2>
                        <p>
                            Estas máquinas se crean en dispositivos host.
                        </p>
                        <a class="text-decoration-none" href="#!" data-bs-toggle="modal"
                            data-bs-target="#descriptionModal3">
                            Más información
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="feature-card">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-person-plus"></i>
                        </div>
                        <h2 class="h4 fw-bolder">Usuarios invitados</h2>
                        <p>
                            Estos usuarios pueden crear máquinas virtuales sin necesidad de registro.
                        </p>
                        <a class="text-decoration-none" href="#!" data-bs-toggle="modal"
                            data-bs-target="#descriptionModal4">
                            Más información
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!---->

        <!--  Descripción emergente Máquinas Virtuales corta duración-->
        <div class="modal fade" id="descriptionModal1" tabindex="-1" aria-labelledby="descriptionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel">Máquinas virtuales de corta duración</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Estas máquinas virtuales al ser de corta duración ofrecen un entorno limpio o específico
                        según el tipo de instacia, no se mantienen
                        persistentes,
                        lo que significa que cualquier cambio o información almacenada en ellas se perderá una vez
                        que
                        la máquina física se apague (interrumpa).
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <!--  Descripcion emergente máquinas virtuales CLI-->
        <div class="modal fade" id="descriptionModal2" tabindex="-1" aria-labelledby="descriptionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel">Máquinas virtuales CLI</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Para este tipo de máquinas virtuales se accede y controla a través de una interfaz de
                        línea de comandos, la gestión del sistema operativo se realiza de forma
                        directa, no poseen interfaz gráfica de usuario (GUI), ya que su caso de uso se 
                        centra en la creación desde otros dispositivos.
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <!-- Descripción máquinas virtuales GUI -->
             <div class="modal fade" id="descriptionModal3" tabindex="-1" aria-labelledby="descriptionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel">Máquinas virtuales GUI</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Estas máquinas solo se generan al solicitar su creación desde 
                        un dispositivo que actúa como host dentro de la plataforma.
                        Este proceso permite a los usuarios interactuar directamente con 
                        la máquina virtual sin necesidad de utilizar otro dispositivo, 
                        con la finalidad de que la interfaz gráfica no interfiera a otros usuarios de diferentes dispositivos.

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
     

        <!--  Descripcion emergente UserI-->

        <div class="modal fade" id="descriptionModal4" tabindex="-1" aria-labelledby="descriptionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="descriptionModalLabel">Usuarios invitados</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Los usuarios invitados pueden acceder al sistema sin necesidad de registrarse, 
                        lo que les permite usar la plataforma y crear máquinas virtuales de manera temporal. 
                        Al no tener credenciales, no se manteinen persistentes.
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de invitado-->
    <section class="bg-light py-2 border-bottom" id="Invitado">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Ingresa como invitado</h2>
                <p class="lead mb-0">Selecciona un tipo de instancia</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="mb-3">
                                <span class="fs-2 fw-bold">Estándar</span>
                            </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Interfaz Modo texto
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        5GB de Almacenamiento
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        1GB RAM
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        2 Núcleos
                                    </li>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <!--<li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        caracteristica extra
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        caracteristica extra
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi b i-check text-primary"></i>
                                        caracteristica extra
                                    </li>-->
                                    <select class="form-control" id="osCreate1" name="osCreate1" required>
                                        <option value="Debian">Debian</option>
                                    </select>
                                </ul>
                                <div class="d-grid">
                                    <a class="btn btn-outline-primary" id="guest-login-btn1">Crear máquina</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card pro-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-6 fw-bold">Desarrollo</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Interfaz GUI
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        10GB de Almacenamiento
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        2GB RAM
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        2 Nucleos
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Visual Studio Code
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Java 11
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Go 1.18
                                    </li>
                                    <select class="form-control" id="osCreate2" name="osCreate2" required>
                                        <option value="Mint">Linux Mint</option>
                                        <option value="DebianDesarrollo">DebianDesarrollo</option>
                                        
                                    </select>
                                </ul>
                                <div class="d-grid">
                                    <a class="btn btn-outline-primary" id="guest-login-btn2">Crear máquina</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card enterprise-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-6 fw-bold">Contenedores</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Interfaz Modo texto
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        3GB de Almacenamiento
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        6GB RAM
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        4 Nucleos
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Docker 20.0.5
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Docker-compose 1.22.0
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Kubernetes 1.30.1
                                    </li>
                                    <select class="form-control" id="osCreate3" name="osCreate3" required>
                                        <option value="Ubuntu">Ubuntu</option>
                                        <option value="DebianDocker">Debian Docker</option>
                                        
                                    </select>
                                </ul>
                                <div class="d-grid">
                                    <a class="btn btn-outline-primary" id="guest-login-btn3">Crear máquina</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Script usuario invitado-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#guest-login-btn1").on("click", function () {
                // Obtener el valor seleccionado del campo "osCreate"
                var distribucion = $("#osCreate1").val();

                $.ajax({
                    type: "POST",
                    url: "/api/loginTemp",
                    data: { osCreate: distribucion }, // Incluir el valor en los datos de la solicitud
                    success: function (response) {
                        console.log("Inicio de sesión como invitado exitoso");
                        window.location.href = "/mainPage";
                    },
                    error: function (error) {
                        console.error("Error al iniciar sesión como invitado", error);
                    }
                });
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#guest-login-btn2").on("click", function () {
                // Obtener el valor seleccionado del campo "osCreate"
                var distribucion = $("#osCreate2").val();

                $.ajax({
                    type: "POST",
                    url: "/api/loginTemp",
                    data: { osCreate: distribucion }, // Incluir el valor en los datos de la solicitud
                    success: function (response) {
                        console.log("Inicio de sesión como invitado exitoso");
                        window.location.href = "/mainPage";
                    },
                    error: function (error) {
                        console.error("Error al iniciar sesión como invitado", error);
                    }
                });
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#guest-login-btn3").on("click", function () {
                // Obtener el valor seleccionado del campo "osCreate"
                var distribucion = $("#osCreate3").val();

                $.ajax({
                    type: "POST",
                    url: "/api/loginTemp",
                    data: { osCreate: distribucion }, // Incluir el valor en los datos de la solicitud
                    success: function (response) {
                        console.log("Inicio de sesión como invitado exitoso");
                        window.location.href = "/mainPage";
                    },
                    error: function (error) {
                        console.error("Error al iniciar sesión como invitado", error);
                    }
                });
            });
        });
    </script>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/scriptjs/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 3,
                margin: 10,
                loop: true,
                nav: true,
                navText: ["<i class='bi bi-arrow-left'></i>", "<i class='bi bi-arrow-right'></i>"],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        });
    </script>
</body>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <p class="m-0 text-center text-white">GRID &copy; Desktop Cloud 2024-1</p>
</footer>

</html>