<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>DesktopCloud - Iniciar sesión</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/images/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/bootstrap/css/bootstrap.min.css">
        <script src="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/style.css">

        <style>
            /* Estilo para la sección con la imagen de fondo */
            .login-background {
                background-image: url('/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/images/IMG_3739.jpg');
                background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
                background-position: center; /* Centra la imagen */
                background-repeat: no-repeat; /* Evita que la imagen se repita */
                min-height: 100vh; /* Establece una altura mínima del contenedor igual a la altura de la ventana */
                padding: 50px 0; /* Añade un poco de espacio alrededor del contenido */
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5;">             
                <a href="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/templates/index.html">
                    <img class="icon-image" style="width: 250px;margin-left: 26px;margin-top: -30px;" src="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/images/Imagen3.png">          
                </a>                                  
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">                                                                  
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                        <li class="nav-item"><a class="nav-link" href="#!" style="margin-top: 5px;">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!" style="margin-right: 10px;margin-top: 5px;">Contact</a></li>                                                                                                                                      
                    </ul>                
                </div>
                
            </div>
        </nav>
        <!-- Contact section-->
        <section class="bg-light py-5 login-background" id="Login">
            <div class="container">
                <div class="center-content">
                    <div class="login-container bg-white p-4 rounded">
                        <form method="post" action="/login">
                            <h2 class="centre-tittle">Iniciar sesión</h2>
                            <div class="form-group">
                                <label for="email">Correo electrónico:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="centrar-botones">
                                <button type="submit" class="btn btn-primary" style="margin-top: 30px; width: 120px;">Iniciar
                                    sesión</button>
                                <a href="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/templates/signin.html" class="btn btn-primary" style="width: 120px;">Registrarse</a>
                            </div>
                        </form>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $("#guest-login-btn").on("click", function () {
                                // Obtener el valor seleccionado del campo "osCreate"
                                var distribucion = $("#osCreate").val();
                    
                                $.ajax({
                                    type: "POST",
                                    url: "/api/loginTemp",
                                    data: { osCreate: distribucion }, // Incluir el valor en los datos de la solicitud
                                    success: function (response) {
                                        console.log("Inicio de sesión como invitado exitoso");
                                        window.location.href = "/mainPage";
                                    },
                                    error: function (error) {
                                        console.error("Error al iniciar sesión como invitado", error);
                                    }
                                });
                            });
                        });
                    </script>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/Users/Felipe/Desktop/Plataforma Jhoiner-JhonEdward/Desktop-Cloud-Web-main/static/scriptjs/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
