<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styleSidebar.css">
</head>
<body style="background-color: #1b212cff;">
    <div class="sidebar">
        <div class="top-links">
            <h3 style="margin-top: 30px;"><a href="#" id="listaMaquinas" class="sidebar-link">Lista de Máquinas</a></h3>
            <h3><a href="#" id="conexiones" class="sidebar-link">Conexiones</a></h3>
            <div id="conexiones-section" style="display: none; margin-bottom: 20px;">
            </div>

            <div class="dropdown">
                <h3 id="Docker" class="sidebar-link">Docker</h3>
                <div class="dropdown-options">
                    <h5><a href="#" id="imagenes" class="sidebar-link" >Gestion de Imagenes</a></h5>
                    <h5><a href="#" id="contenedores" class="sidebar-link" >Gestion de contenedores</a></h5>
                </div>
            </div>

            <h3><a href="#" id="perfil" class="sidebar-link" >Perfil</a></h3>
            <h3><a href="#" id="dashboard" class="sidebar-link" >Dashboard</a></h3>
            <h3><a href="#" id="createHost" class="sidebar-link" >Crear Host</a></h3>
            <h3><a href="#" id="createDisk" class="sidebar-link" >Agregar Disco</a></h3>

        </div>
        <div class="bottom-link">
            <h3><a href="#" id="ayuda" class="sidebar-link">Ayuda</a></h3>
            <h3><a href="#" id="aboutUs" class="sidebar-link">Contacto</a></h3>
        </div>
    </div>
    
    <script>
        const listaMaquinasLink = document.getElementById("listaMaquinas");
        const conexionesLink = document.getElementById("conexiones");
        const gestionImagenes = document.getElementById("imagenes");
        const gestionConetendores = document.getElementById("contenedores");
        const perfilLink = document.getElementById("perfil");
        const dashboardLink = document.getElementById("dashboard");
        const createHostLink = document.getElementById("createHost");
        const createDiskLink = document.getElementById("createDisk");
        const aboutUsLink = document.getElementById("aboutUs");



        var userRole = "{{ .rol }}"; // Puedes obtener esto dinámicamente desde tu aplicación

        // Función para verificar el rol y mostrar/ocultar el enlace al dashboard
        function verificarRolYMostrarDashboard() {

            // Verifica el rol y muestra/oculta el enlace al dashboard
            if (userRole !== "Administrador") {
                dashboardLink.style.display = "none"; // Oculta el enlace
                createHostLink.style.display= "none"
                createDiskLink.style.display= "none"
            } else {
                dashboardLink.style.display = "block"; // Muestra el enlace
                createHostLink.style.display= "block"
                createDiskLink.style.display= "block"
            }
        }

        // Llama a la función cuando la página carga
        window.onload = verificarRolYMostrarDashboard;



        const ayudaLink = document.getElementById("ayuda");
        const conexionesSection = document.getElementById("conexiones-section");

        listaMaquinasLink.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('controlMachine');
        });

        conexionesLink.addEventListener("click", function (e) {
            e.preventDefault();
            mostrarConexiones();
        });

        perfilLink.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('profile');
        });

        gestionImagenes.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('imagenes');
        });

        gestionConetendores.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('contenedores');
        });

        dashboardLink.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('dashboard');
        });

        createHostLink.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('createHost');
        });

        createDiskLink.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('createDisk');
        });

        ayudaLink.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('helpCenter');
        });

        aboutUsLink.addEventListener("click", function (e) {
            e.preventDefault();
            bloquearConexiones();
            cambiarContenido('aboutUs');
        });

        function mostrarConexiones() {
            conexionesSection.style.display = "block";
        }

        function bloquearConexiones(){
            conexionesSection.style.display = "none";
        }

        function cambiarContenido(contenido) {
            fetch("/cambiar-contenido", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ contenido })
            })
            .then(response => response.json())
            .then(data => {
                // Cuando recibas la respuesta del servidor, actualiza el iframe.
                const iframeControlMachine = window.parent.document.getElementById("mainPageContent");
                iframeControlMachine.src = data.url;
            })
            .catch(error => {
                console.error("Error al cambiar el contenido:", error);
            });
        }

        const sidebarLinks = document.querySelectorAll(".sidebar-link");

        sidebarLinks.forEach(link => {
            link.addEventListener("click", function (e) {
                e.preventDefault();

                // Quitar la clase "active-link" de todos los enlaces
                sidebarLinks.forEach(link => link.classList.remove("active-link"));

                // Agregar la clase "active-link" al enlace seleccionado
                link.classList.add("active-link");

                // Tu código para cambiar el contenido aquí...
            });
        });

        function obtenerActualizaciones() {
        if (conexionesLink.classList.contains("active-link")) {
            fetch('/actualizaciones-maquinas')
                .then(response => response.json())
                .then(data => {
                    // Actualiza la lista de máquinas en el HTML
                    const listaMaquinas = document.getElementById("conexiones-section");
                    listaMaquinas.innerHTML = ''; // Limpia el contenido existente

                    data.forEach(maquina => {
                        if (maquina.Estado === 'Encendido') {
                            const item = document.createElement('li');
                            const link = document.createElement('a');
                            link.href = `http://${maquina.Ip}:4200`;
                            link.textContent = maquina.Nombre;
                            item.appendChild(link);
                            listaMaquinas.appendChild(item);

                            link.style.color = 'white';
                            link.style.textDecoration = 'none';

                            // Agregar un evento click para cambiar el contenido del iframe
                            link.addEventListener('click', function (event) {
                                event.preventDefault();
                                cambiarContenido(link.href);
                            });
                        }
                    });
                })
                .catch(error => {
                    console.error('Error al obtener actualizaciones de máquinas:', error);
                });
            }
        }

        // Llama a la función obtenerActualizaciones a intervalos regulares (por ejemplo, cada 1 segundos)
        setInterval(obtenerActualizaciones, 1000);
    </script>
</body>
</html>
